
annotated-types==0.8.0
asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
contextlib2==21.6.0
cryptography==50.0.1
Django==4.2.30
django-cors-headers==4.9.0
django-ninja==1.7.0
django-ninja-extra==0.31.7
django-ninja-jwt==5.4.5
idna==3.19
injector==0.24.0
pillow==12.3.0
pycparser==3.0
pydantic==2.13.5
pydantic-settings==2.15.0
pydantic_core==2.46.5
PyJWT==2.13.0
python-dotenv==1.2.3
python-multipart==0.0.32
requests==2.34.2
sqlparse==0.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0


